@import 'bootstrap';

.back-image-blog {
  background-image: asset-url('cover-image.webp');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 425px;
}